[Desktop Entry]
Name=WmSMPmon
Comment=System resources monitor for SMP machines
Comment[pl]=Monitor zasobów systemowych dla maszyn SMP
Exec=wmSMPmon
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
